body{
	padding: 0;
	margin: 0;	
}

.container{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-wrap: nowrap;
	background-color: #060A1F;
	justify-content: center;
	align-items: center;
}




.container .clock{	
	flex-basis: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	/* -webkit-box-reflect: below 1px linear-gradient(transparent, black);	 */
	-webkit-box-reflect: below 5px linear-gradient(transparent,#0003);
	
}


.miniContainer{
	display: flex;
	justify-content: center;

}

.container .clock .timeBlock{
	/* display: inline-block; */
	flex-basis: 200px;
	height: 200px;
	background: #2196F3;
	color: white;
	margin: 10px;
	
}

.container .clock h2{
	color: white;
	text-align: center;
}


.container .clock .timeBlock span{
	display: block;
	
	text-transform: uppercase;
	/* font-family: 'roboto', 'sans-serif'; */
}

.container .clock .timeBlock span:nth-child(1){
	font-size: 120px;
	text-align: center;
	font-weight: 300;	
	height: 150px;
	line-height: 150px;
}

.container .clock .timeBlock span:nth-child(2){
	text-align: center;
	font-size: 30px;	
	line-height: 50px;
	height: 50px;
	border-top: 2px solid black;
	background-color: #127FD6;
}

.container .clock #seconds span:nth-child(2){
	background: #EC0062;
}


